################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DBBroker/bin
/.vs/DBBroker/v16/.suo
/.vs/DBBroker/config/applicationhost.config
/DBBroker/obj
