Your.Mapped.Model.Namespace|SQLServer|Data Source=(local); Initial catalog=DB_NAME; User id=DB_USER; Password=#Your_Password!;
Your.Mapped.Model.Namespace|MySql|Server=localhost;Database=DB_NAME;Uid=DB_USER;Pwd=#Your_Password!;
Your.Mapped.Model.Namespace|Oracle|User id=DB_USER;password=#Your_Password!;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));