
@{
    ViewBag.Title = "InstallViaNuget";
}

<h2>Install Via Nuget</h2>

<div class="row text-center">
    <div>
        <img src="~/Img/Install_Gif/install.gif" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Back to home", "Index", "Home")
    </div>
</div>


