
@{
    ViewBag.Title = "Thanks!";
}

<h2>Thanks!</h2>

<div class="row">
    <div class="col-md-5">
        Thanks for your contribution!
    </div>
</div>

<h2>Obrigado!</h2>

<div class="row">
    <div class="col-md-5">
        Obrigado pela sua contribuição!
    </div>
</div>

<div class="row">
    <div class="col-md-5">
       &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        @Html.ActionLink("Back to home", "Index")
    </div>
</div>