<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmMapping dataType="number">
          <add name="bool" precision="1"/>
          <add name="byte" precision="3"/>
          <add name="int16" precision="4"/>
          <add name="int32" precision="9"/>
          <add name="int64" precision="18"/>
        </edmMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
  -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>
